.grid-container {
    display: grid;
    grid-gap: 10px;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-element {
  border: thick solid #cc0000;
  padding: 10px;
}

section {
  position: relative;
	top: 0;
  background-color: black;
  height: 400px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

section .container {
  position: relative;
  z-index: 2;
}

section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
	opacity: 0.1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  section {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  section video {
    display: none;
  }
}

/*Company Overview Grid*/
.overviewGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "imgG imgH"
						 "imgI imgJ";
	grid-gap: 2px;
}

.overviewGridElement{
	text-align: justify;
}

.overviewGridElement img {
	width: 100%;
	height: auto;
}

.imgG {
	grid-area: imgG;
}

.imgH {
	grid-area: imgH;
}

.imgI {
	grid-area: imgI;
}

.imgJ {
	grid-area: imgJ;
}

.img-fluid {
  height: 150px;
  width: auto;
}