.container-fluid {
	margin: 0;
	padding: 0;
}

.carousel-item {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.carousel-caption {
	bottom: 0;
	top: auto;
}

.carousel-caption h3 {
	font-size: 3rem;
}

.carousel-caption p {
	font-size: 1.5rem;
}

button {
	font: bold;
	background-color: rgba(177,177,177, 0.7)
}

button:hover {
	background-color: darkgreen;
	color: white;
}

/*CSS GRID FOR EXPLORE AFTER SALES*/
.grid-container-explore {
	display: grid;
	margin: 0 15px;
	width: 100%;
	min-height: 250px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "maintenance care crm"
						 "maintenance warr crm";
	grid-gap: 2px;
}

@media screen and (max-width: 768px) {
	.grid-container-explore {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "maintenance care"
						 	 "crm 		  warr";
	}
}

.grid-items-explore {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/*border-radius: 10px;*/
	
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.maintenance {
	grid-area: maintenance;

}

.care {
	grid-area: care; 

}

.warranty {
	grid-area: warr;

}

.crm { 
	grid-area: crm;

}


/*CSS GRID FOR PERIODIC MAINTENANCE & INSPECTIONS SECTION OF AFTER SALES*/
.grid-container {
	display: grid;
	margin: 0;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "What Why How";
	grid-gap: 10px;
}

@media screen and (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-areas: "What" "Why" "How";
	}
}

.grid-items {
	text-align: justify;
	border: thin solid black;
	padding: 10px;
}

.grid-img {
	background-color: black;
}

.grid-img:hover {
	background-color: #cc0000;
}

.grid-img img {
	width: 100%;
}

.What { 
	grid-area: What;
}

.Why {
	grid-area: Why;
}

.How {
	grid-area: How;
}

.overlay {
	bottom: 0;
	position: absolute;
    width: 100%;
    height: 25%;
    background: #000;
    opacity: 0.3;
}